$med-gray: #fafafb; // Main Bg Color
$light-gray: #f6f8fb; // Drag & Drop Section Bg Color
$gr-gray: #e0e0e0; // border color

$blueish-gray: #f2f2f2; // Loader Bg

$med-black: #4f4f4f; // Headings Text Color
$gray-black: #828282; // Paragraph Color
$light-black: #bdbdbd; // Paragraph Color

$light-blue: #97bef4;
$bold-blue: #2f80ed;

$green: #219653;
$red: #c30f0f; // error color
$white: #ffffff;
$black: #000000;
